.add-box{
    background-color: rgb(247, 248, 249);
    height: 40px;
    max-width: 400px;
    padding-left: 10px;
    padding-right: 0;
    font-size: 20px;
    margin: auto;
    color: #777373;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px #b6b1b1;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-note-btn{
    flex-grow: 1;
}

.add-box>:not(:first-child){
    margin-right: 10px;
}
