.note-editor{
    border: 1.4px solid #98a9bcde;
    border-radius: 10px;
     max-width: 420px;
    padding: 10px;
    margin: auto;
}

.note-editor textarea{
    border: none;
    font-size: 1rem;
    width: 400px;
}

.note-editor textarea:focus { 
    outline: none !important;
    
 }

 .todo-box{
     margin: auto;
     display: flex;
 }


 .done {
    text-decoration: line-through;
 }

 .img{
     max-height: 230px;
 }